.DS_Store

# cython-generated
src/cysox/sox.c

# editor config
.clangd
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
sdist/
include/
lib/
docs/_build/

# exclude
thirdparty/sox/

# Environments
.env
.venv

# cache
.*_cache/
*.egg-info
.ropeproject
.benchmarks

# claude
.claude
CLAUDE.md
